<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link href="http://allfont.ru/allfont.css?fonts=europe-normal" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
<header>
    <div class="cart">
        <form action="" class="search-form" :submit.prevent="filterGoods()">
            <input type="text" class="search-field" v-model="searchLine">
            <button class="btn-search" type="submit" ><i class="fas fa-search"></i></button>
        </form>
        <button class="btn-cart" type="button">Корзина</button>
        <div class="cart-block invisible"></div>
    </div>
</header>
<main>
    <div class="products">
        <div class="product-item" v-for="product of products" :key="product.id_product">
            <img :src="imgCatalog" alt="Some img">
            <div class="desc">
                <h3>{{product.product_name}}</h3>
                <p>{{product.price}}RUB</p>
                <button class="buy-btn" @click="addProduct(product)">Купить</button>
            </div>
        </div>
    </div>
</main>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://kit.fontawesome.com/572ec8678c.js" crossorigin="anonymous"></script>
<script src="js/main.js"></script>
</body>
</html>

<!--

<header>
    <div class="cart">
        <form action="" class="search-form">
            <input type="text" class="search-field">
            <button class="btn-search" type="submit"><i class="fas fa-search"></i></button>
        </form>
        <button class="btn-cart" type="button">Корзина</button>
        <div class="cart-block invisible"></div>
    </div>
</header>
<main>
    <div class="products"></div>
</main>-->
